body {background-color:black;
background-image:url(".gif");
}
#container {
    width: 67%;
    height:1000px;
    right:22px;
    padding:22px;
    background-color:3399ff;
    text-align:center;
    margin:0 auto;
    line-height:2;
    letter-spacing:2px;
    font-family: sans-serif;
    color:white;

    
}
#name {
    text-align:center;
    padding:20px;
    width:100px;
    margin:0 auto;
}
#musicbox {
    height:66px;
    width:110px;
    margin: 55 auto;
}    
#bio {
    margin:55 auto;

}
#contact {
    margin: 55 auto;
}
