@import url('https://fonts.googleapis.com/css?family=Raleway');

body#mainBody {
background-image: url("impression.jpg");
background-size: auto;
background-repeat: no-repeat;
}

body#secondaryBody {
}

a, a:visited, a:hover {
text-decoration: none;
}

#container {
margin: -1vh -0.4vw 0 -0.4vw;
height: 100%;
min-height: 95vh;
}

#impression {
/*background-color: cyan;*/
}

#musicPlayer {
background-color: orange;
height: 20px;
margin: 0 auto;
padding: 0 4vw;
width: 40vw;
}

#musicPlayer.sticky {
position: fixed;
top: 0px;
left: -0.4vw;
margin: 0 26vw 0 26vw;
}

#transition {
margin: 0;
padding: 5vw 0;
background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(155, 171, 198, 0.3));
}

@media only screen and (min-width: 1000px) {
p#briefDescription {
margin: 0;
font-family: Raleway;
text-align: center;
letter-spacing: 0.68vw;
font-weight: bold;
font-size: 0.82vw;
color: orange;
text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}
}

@media only screen and (max-width: 1000px) {
p#briefDescription {
margin: 0 auto;
width: 48vw;
font-family: Raleway;
text-align: left;
font-weight: bold;
font-size: 12pt;
color: orange;
text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

}

#nav {
text-align: right;
/*background-color: red;*/
background-image: url("blue-floral-design-4.jpg");
background-size: 500px 400px;
background-repeat: repeat-x;
}

#nav ul {
margin: 0 0 0 50vw;
padding: 1vh 0;
background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 255, 255, 0.8));
}

#nav ul li {
list-style-type: none;
display: inline;
margin: 0 1vw;
}

#nav ul li a, #nav ul li a:visited, #nav ul li a:hover {
color: orange;
font-family: Raleway;
font-size: 16pt;
letter-spacing: 4px;
text-shadow: -1.5px -1.5px 0 #fef, 1.5px -1.5px 0 #fef, -1.5px 1.5px 0 #fef, 1.5px 1.5px 0 #fef;
}

#mainTitle {
margin: 10vh 35vw 0 35vw;
}

.primaryContent {
font-family: Raleway;
color: white;
}

section.primaryContent {
margin: 0 0 5vh 0;
}

h3.primaryContent {
letter-spacing: 1em;
}

.secondaryContent {
line-height: 2em;
font-family: Raleway;
color: white;
}

#contentContainer {
margin: 0;
background-color: rgba(155, 171, 198, 0.3);
}

#main {
margin: 0 auto;
width: 40vw;
padding: 4vh 4vw; 
background-color: rgba(0,0,0,0.3);
}

#footerContainer {
position: absolute;
background-color: rgba(155, 171,198, 0.3);
width: 100%;
padding: 20vh 0 0 0;
}

#footer {
height: 66px;
width: 100%;
background-image: url("blue-floral-design-4.jpg");
background-repeat: repeat-x;
background-size: 500px 400px;
}

#footerSecondary {
height: 66px;
margin: 0 -2vw -2vh -2vw;
background-image: url("blue-floral-design-4.jpg");
background-repeat: repeat-x;
background-size: 500px 400px;
}
